body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

@media (max-width: 768px) {
  .header, .footer {
    padding: 10px 0;
  }
}

.container {
  display: flex;
  flex-direction: column; /* Empilha os elementos */
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* Input de Tarefa */
.input-tarefa {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botão Adicionar */
.btn-adicionar {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.btn-adicionar:hover {
  background-color: #0056b3;
}

/* Ajuste para telas menores */
@media (max-width: 600px) {
  .container {
    width: 90%; /* Ajusta a largura no mobile */
  }

  .input-tarefa {
    width: 100%;
  }

  .btn-adicionar {
    width: 100%;
    margin-top: 10px;
  }
}
